@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.feed-container {
  height: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.titleHeader {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.logoHeader {
  width: 35px;
  height: 35px;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
  width: 40%;
  align-items: center;
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  padding: 20px;
  font-size: clamp(1em, 1em + 1vw, 1em);
}

.welcome {
  color:#fff;
  margin-bottom: 10px;
}

.publish {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 92%;
  width: 350px;
  margin-left: -10px;
}

.button-publish {
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 8px;
  background-color: #193549;
  border: none;
  width: 100px;
}

.input-text {
  border-radius: 5px;
  height: 75px;
  border: none;
  width: 92%;
  margin-left: auto;
  padding-left: 10px;
  background-color: #d9d9d955;
  color: #fff;
  resize: none;
}

.input-text:focus {
  outline: none;
}

.input-text::placeholder {
  color: #ffffff55;
}

.div-line {
  background-color: #ffffff55;
  height: 1px;
  width: 100%;
  margin-bottom: 15px;
}

#feed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  width: 350px;
}

.post {
  margin-bottom: 20px;
  padding: 10px 10px 0px 10px;
  background-color: #da5536;
  border-radius: 5px;
  width: 90%;
  color: #fff;
}

.post p {
  margin: 0;
  padding: 5px;
}

.informations {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.name, .date {
  font-family: 'Amatic SC', cursive;
  font-size: 15px;
  background-color: #fff;
  color: #da5536;
  border-radius: 3px;
}

.text {
  background-color: #da5536;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  white-space: pre-line;
  overflow-wrap: break-word;
  padding: 5px;
}

.container-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-like {
  display: flex;
  flex-direction: row;
}

.container-edit {
  display: flex;
  flex-direction: row;
}

.icons-post {
  width: 20px;
  height: 20px;
}

.logo-nome{
  display: none;
}

@media (min-width: 900px) {

  .feed-container {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  .container-logo{
    width: 300px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding-right: 100px;
  }

  .container-metade{
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .logo-nome{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 25px;
  }

  .div-line{
    width: 600px;
  }

  .publish{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .input-text {
    width: 550px;
    margin-left: 5px;
    font-size: 20px;
  }

  .name, .date {
    font-size: 20px;
  }

  .text {
    font-size: 20px;
  }

  .welcome {
    font-size: 20px;
  }

  #feed{
    width: 600px;
  }
}